:root {
  --font-family: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
  --default-line-height: 1.3;
}

.text-xl {
  font-family: var(--font-family);
  font-size: 4rem;
  font-weight: 600;
  line-height: var(--default-line-height);
}

.text-l {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: var(--default-line-height);
}

.text-m {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: var(--default-line-height);
}