.hero {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  padding: 4.5rem 0;

  &__description, &__title {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__button ~ &__button {
    margin-left: 1.5rem;
  }
}
