iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

#app {
  font-family: Inter, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered-layout {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1400px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}