:root {
  --color-blue: #0091eb;
  --color-lightblue: #3eaaee;
  --color-lightblue-hover: #47aeef;
  --color-green: #51e05d;
  --color-green-hover: #26d835;
  --color-gray: #B1B1B1;
  --color-lightgray: #F7F7F7;
  --color-white: #ffffff;
}