// Primary Colors
$pa-color-blue: #0091eb;
$pa-color-green: #51e05d;
$pa-color-light-blue: #3eaaee;

// Primary Colors: Hover/Feedback
$pa-color-green-fb: #26d835;
$pa-color-light-blue-fb: #47aeef;

// Gray Colors
$pa-color-nickel: #adadad;
$pa-color-silicon: #f7f7f7;
$pa-color-white: #fff;