@import "mixins.scss";

:root {
  --sds-font-regular: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif;
  --font-family: var(--sds-font-regular);
  --default-line-height: 1.3;
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  font-size: 16px;
}

.text-xl {
  font-family: var(--font-family);
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;

  @include breakpoint-s {
    font-size: 2.7rem;
  }
}

.text-l {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--default-line-height);

  @include breakpoint-s {
    font-size: 2rem;
  }
}

.text-m {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;

  @include breakpoint-s {
    font-size: 1.3rem;
  }
}

.text-m--bold {
  font-weight: var(--font-weight-bold);
}

.text-s {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--default-line-height);
}
