@import "mixins.scss";

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("Source Sans Pro"), url(~@/assets/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Source Sans Pro"), url(~@/assets/fonts/SourceSansPro-Regular.ttf) format("truetype");
}

:root {
  --font-family: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
  --default-line-height: 1.3;
  font-size: 16px;
}

.text-xl {
  font-family: var(--font-family);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;

  @include breakpoint-s {
    font-size: 2.7rem;
  }
}

.text-l {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: var(--default-line-height);

  @include breakpoint-s {
    font-size: 2rem;
  }
}

.text-m {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: var(--default-line-height);

  @include breakpoint-s {
    font-size: 1.3rem;
  }
}

.text-s {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: var(--default-line-height);
}